@use './variables.scss' as *;

* {
  margin: 0;
  padding: 0;


}


body {
  font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'microsoft yahei', arial, STHeiTi,
    sans-serif;
    font-size: 14px;

    svg { display: inline-block;}

    a { color:var(--el-color-primary)}
    a:hover { text-decoration: underline;}
}



.move-enter-active {
  animation: run-scale .1s ease-out 0s;
}

.move-leave-active {
  animation: run-scale .1s ease-in 0s reverse;
}

.move-enter-from,
.move-leave-to {
  opacity: 0;
}

@keyframes run-scale {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*BaseForm*/

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

[class*=' el-icon-'],
[class^='el-icon-'] {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[hidden] {
  display: none !important;
}

.container { margin: 0; }

.w180 {
  width: 180px !important;
}

.w190 {
  width: 190px !important;
}

.w200 {
  width: 200px !important;
}

.w210 {
  width: 210px !important;
}

.w220 {
  width: 220px !important;
}

.w230 {
  width: 230px !important;
}

.w240 {
  width: 240px !important;
}

.w250 {
  width: 250px !important;
}

.w260 {
  width: 260px !important;
}

.w270 {
  width: 270px !important;
}

.w280 {
  width: 280px !important;
}

.w290 {
  width: 290px !important;
}

.w300 {
  width: 300px !important;
}

.w310 {
  width: 310px !important;
}

.w320 {
  width: 320px !important;
}

.w330 {
  width: 330px !important;
}

.w340 {
  width: 340px !important;
}

.w350 {
  width: 350px !important;
}

.w360 {
  width: 360px !important;
}

.w370 {
  width: 370px !important;
}

.w380 {
  width: 380px !important;
}

.w390 {
  width: 390px !important;
}

.w400 {
  width: 400px !important;
}

.w410 {
  width: 410px !important;
}

.w420 {
  width: 420px !important;
}

.w430 {
  width: 430px !important;
}

.w440 {
  width: 440px !important;
}

.w450 {
  width: 450px !important;
}

.w460 {
  width: 460px !important;
}

.w470 {
  width: 470px !important;
}

.w480 {
  width: 480px !important;
}

.w490 {
  width: 490px !important;
}

.w500 {
  width: 500px !important;
}


// 通用的文字过长显示省略号样式
.text-ellipsis-common { 
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    display: inline-block;
    width: 100%;
    white-space: nowrap; /* 禁止换行 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 显示省略号 */
  }
}

