html.dark {
  .main-content {
    background-color: var(--el-bg-color-overlay);
  }

  .tags {
    background-color: black;
  }
  .sku-table {
    tr, th, td {
      border-color: #333;
    }
    thead {
      th {
        background-color: #151515;
      }
    }
  }
}
